/* ------------------------------------------- Fonts */

@font-face {
    font-family: "Harabara";
    src: url("/assets/fonts/Harabara_Mais_Demo.otf");
}

/* ------------------------------------------- General */

* {
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 10px;
    /* border: 1px red solid; */
}

body {
    text-align: center;
    font-family: montserrat, sans-serif;
}

main {
    margin: 0 1rem;
    position: relative;
    top: 12vh;
    left: 0;
    z-index: 0;
}

h1 {
    color: #fce711;
    font-size: 3.5rem;
    font-family: "Harabara", "montserrat", sans-serif;
    z-index: 2;
}

a {
    font-size: 1.8rem;
    color: #afabab;
    padding: .1rem 2rem;
    text-decoration: none;
}

a:hover {
    color: #fce711;
    text-decoration: none;
}

img {
    padding: 2rem;
    vertical-align: middle;
    width: 100%;
    opacity: 1;
    transition: .3s;
}

img:hover {
    opacity: .75;
    transition: .3s;
}

div.col, div.row {
    max-width: 100%;
    padding: 0;
}

.display {
    visibility: visible;
}

.text-nowrap {
    white-space: nowrap;
}

/* Modal */

.modal {
    z-index: 3;
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.9);
    animation: fadein .4s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.modal-content {
    margin: auto;
    padding: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    border: none;
}

/* The Modal Close Button */

.close {
    position: absolute;
    top: 1.5rem;
    right: 3.5rem;
    color: #f1f1f1;
    font-size: 4rem;
    font-weight: bold;
    transition: 0.3s;
    color: #fce711;
    z-index: 5;
    cursor: pointer;
}

.fa-times {
    color: #fce711;
    /* z-index: 6; */
}

img.modal-content:hover {
    opacity: 1;
}

/* ------------------------------------------- Nav */

#burger {
    font-size: 2.5rem;
    margin-right: 1.6rem;
    color: #afabab;
    position: absolute;
    top: 2.2rem;
    right: -.8rem;
}

#logo {
    margin: 2rem 1.5rem 2rem 0rem;
    position: absolute;
    top: 0;
    z-index: 1;
}

.sidebar {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 0;
    background-color: white;
    z-index: 2;
    display: none;
}

.sidebar ul {
    list-style-type: none;
    position: relative;
    top: 4vh;
}

.sidebar ul li {
    padding: .5rem;
}

#projects-sidebar {
    margin-top: 2.5rem;
}

.dropdown-content a {
    font-size: 1.5rem;
    color: #afabab;
    padding-top: 1rem;
}

#close {
    padding: 0;
}

#close i {
    position: absolute;
    right: 7vw;
    height: 0;
}

.active {
    color: #fce711;
}

/* ------------------------------------------- Images */

.main-container {
    display: flex;
    width: 100%;
    display: flex;
    width: 100%;
    margin: 0 .4rem 8rem .4rem;
}

.mobile-title {
    display: block;
    position: relative;
}

.desktop-title {
    display: none;
}

.section-heading {
    font-size: 1.8rem;
    color: #afabab;
}

.main-col-images {
    display: flex;
    flex: 100%;
    flex-wrap: wrap;
}

.images-col {
    flex: 50%;
    max-width: 50%;
    padding: 0 0rem;
}

.desktop-nav {
    display: none;
}

/* Info */
.main-col-info {
    display: flex;
    flex: 100%;
    flex-wrap: wrap;
}
.info-col {
    padding-top: 1vh;
    max-width: 90%;
    flex: 100%;
    flex-wrap: wrap;
    text-align: left;
    margin: 0 auto;
}
.info-col>p, .info-col>p>strong {
    font-size: 1.7rem;
    color: #afabab;
}

#info-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

.info-title {
    color: #afabab;
    font-size: 2.5rem;
    margin-bottom: 1.3rem;
}

tr, th, td {
    font-size: 1.7rem;
    color: #afabab;
    font-weight: 400;
    vertical-align: top;
}

th {
    width: 100%;
}

td>a {
    padding: 0;
    color: #fce711;
}

.info-year {
    width: 15%;
}

hr#info-line {
    color: #fce711;
    border-top: #fce711 .1rem solid;
    width: 100%;
    margin-top: 5rem;
    margin-bottom: 3rem;
}
hr#info-bottom-line {
    visibility: hidden;
    margin-bottom: 0;
}

/* ------------------------------------------- Footer */

footer {
    justify-content: center;
    flex: 100%;
    width: 100%;
    display: flex;
    margin: 0 auto;
    position: relative;
    transform: translateY(4rem);
    clear: both;
    z-index: 2;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    padding: 0;
}

.below-nav-col {
    flex: 20%;
    max-width: 20%;
}

.bottom-line-col {
    flex: 75%;
    max-width: 75%;
    margin: 0 auto;
}

hr#bottom-line {
    color: #fce711;
    border-top: #fce711 .1rem solid;
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 1.25rem;
}

.instagram, .email {
    width: 5rem;
    height: 5rem;
    color: #afabab;
    padding: 1rem 1rem;
    border: none;
}

.instagram a, .email a {
    padding: 0;
}

i {
    font-size: 2.5rem;
}

/* ------------------------------------------- >= 992px */

@media screen and (min-width: 992px) {
    /* General */
    main {
        top: 16vh;
    }
    h1 {
        font-size: 6rem;
        margin: 3rem 3rem 4rem .2rem;
    }
    .bottom-line-col {
        margin: 0 auto;
    }
    hr#bottom-line {
        color: #fce711;
        border-top: #fce711 .1rem solid;
        width: 100%;
        margin-top: 10rem;
        margin-bottom: 3rem;
    }
    /* Images */
    img {
        padding: 6rem;
    }
    .main-col-images {
        flex: 33%;
    }
    .mobile-title {
        display: none;
    }
    .desktop-title {
        display: block;
        position: absolute;
        left: 50%;
        top: -1%;
        margin: 0;
        transform: translateX(-50%);
        width: 100%;
    }
    .images-col {
        flex: 33%;
        max-width: 33%;
        position: relative;
    }
    .portrait {
        padding: 6rem 11rem;
    }
}

/* ------------------------------------------- >= 1200px */

@media screen and (min-width: 1200px) {
    /* General */
    h1 {
        font-size: 6.5rem;
    }
    main {
        margin: 0 3rem;
    }
    .bottom-line-col {
        flex: 75%;
        max-width: 75%;
        margin-left: 21.15%;
    }
    hr#bottom-line {
        color: #fce711;
        border-top: #fce711 .1rem solid;
        width: 93%;
        margin-top: 5rem;
        margin-bottom: 3rem;
    }
    /* Nav */
    .desktop-nav {
        display: flex;
        flex: 25%;
        max-width: 20%;
        margin: 0;
        text-align: left;
        color: #afabab;
        position: fixed;
        top: 21.2vh;
        left: 0;
        z-index: 1;
    }
    #logo {
        position: fixed;
        margin: 4rem 4rem;
    }
    #burger {
        display: none;
    }
    #projects {
        margin: 0;
    }
    #projects-sub {
        visibility: hidden;
    }
    li {
        list-style-type: none;
        padding: .23rem 2rem .23rem 5.5rem;
        font-size: 2rem;
    }
    #projects-sub li {
        padding: .23rem 2rem .23rem 0;
        text-align: left;
    }
    #projects-sub li a {
        font-size: 1.6rem;
        font-weight: 200;
        padding: .1rem 0;
        white-space: nowrap;
    }
    .nav-col {
        flex: 20%;
        max-width: 20%;
    }
    /* Images */
    .main-col-images {
        flex: 25%;
    }
    .images-col {
        flex: 25%;
        max-width: 25%;
    }
    /* Info */
    .main-col-info {
        display: flex;
        flex: 100%;
        flex-wrap: wrap;
    }
    .info-col {
        padding-top: 4.4vh;
        max-width: 55%;
        flex: 75%;
        flex-wrap: wrap;
        text-align: left;
    }
    .info-col>p, .info-col>p>strong {
        font-size: 1.7rem;
        color: #afabab;
    }
    #info-table {
        width: 100%;
        border-collapse: collapse;
        text-align: left;
    }
    tr, th, td {
        font-size: 1.7rem;
        color: #afabab;
        font-weight: 400;
        vertical-align: top;
    }
    th {
        width: 13%;
    }
    td>a {
        padding: 0;
        color: #fce711;
    }
    .info-year {
        width: 13%;
    }
    hr#info-line {
        color: #fce711;
        border-top: #fce711 .1rem solid;
        width: 100%;
        margin-top: 5rem;
        margin-bottom: 3rem;
    }
    hr#info-bottom-line {
        visibility: hidden;
        margin-bottom: 2.5rem;
    }
    /* Modal */
    img.modal-content {
        padding: 8rem 0;
    }
}

/* ------------------------------------------- >= 2000px */

@media screen and (min-width: 2000px) {
    * {
        font-size: 13px;
    }
}

/* ------------------------------------------- >= 3500px */

@media screen and (min-width: 3500px) {
    * {
        font-size: 20px;
    }
}